{% extends 'computadoras/base.html' %}
{% block content %}
    <div class="post">
        {% if publicacion.marca %}
            {% endif %}
            <a class = "button is-primary is-rounded" href="{% url 'compus_borrar' pk=publicacion.pk %}">Borrar</a>
            <a class = "button is-primary is-rounded" href="{% url 'compus_editar' pk=publicacion.pk %}">Editar</a>
        <h2>{{publicacion.marca }}</h2>
        <h2>{{ publicacion.detalle }}</h2>
        <h2>{{publicacion.precio }}</h2>
        

    </div>
{% endblock %}